/* main.css */
@import './base.css';

#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
  width: 100vw;
  overflow-x: hidden;
}

a,
.green {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 100%, 0.2);
  }
}

/* REMOVE weird layout grid for large viewports */
@media (max-width: 768px) {
  .grid-layout {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .header,
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .thumbnail {
    width: 100%;
    height: auto;
  }
}